fastapi
uvicorn
numpy
opencv-python-headless
pillow
statistics
svgwrite==1.4.3
python-csv
ShopifyAPI
oauth2client
google-api-python-client
sqlalchemy
psycopg2-binary
alembic
grpcio
grpcio-tools
bcrypt
pyjwt
protobuf-to-pydantic