fastapi
uvicorn
numpy
protobuf==3.20.*
python-jose
opencv-python-headless
pillow
statistics
svgwrite==1.4.3
python-csv
ShopifyAPI
oauth2client
google-api-python-client
sqlalchemy
simplejson
psycopg2-binary
alembic
grpcio
grpcio-tools
bcrypt
pyjwt
pydantic
pydantic-settings
protobuf-to-pydantic
pydrive